<div class = "body">
	<div class="section">
		<h3>Find notes to help you with <br><span class="part2">Gate and Interview preparation</span></h3>
	</div>
	<div class="navButton" #navButton (click)="showMenuBar(navButton)">
		<div></div>
		<div></div>
	</div>
	<div id="menu" class="menubar" style="display: none;">
		<div><a>Blog</a></div>
		<div><a>About</a></div>
		<div><a href="https://www.jntuhceh.ac.in" target="_blank">University</a></div>
	</div>
	<div class="centered">
		<ul>
			<li>
				<div class="image">
					<a><img src="assets/ppl.jpg"></a>
				</div>
				<div>
					<h2>Principles of Programming Languages</h2>
					<p>A programming language is a notation for writing programs which are specifications of a computation or an algorithm. Principles of programming languages is an important topic for GATE as well as for interviews.</p>
					<button><a href="#">Click here for notes</a></button>
				</div>
			</li>
			<li></li>
		</ul>
	</div>
</div>