/* for mobile*/
body::-webkit-scrollbar {
  display: none;
}
.section{
  display: block;
  width: 90vw;
    font-family: Ubuntu, sans-serif;
    text-transform: uppercase;
    transition: ease 0.1s;
    z-index: 10;
    overflow: hidden;
    margin-top: 2vh;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
h1{
  text-align: center;
  font-size: 1em;
  margin: auto;
}
.part2{
  color: #ee4938;
}

.navButton{
    background-color: #3a3a3a;
}

.navButton div{
    background-color: #fff;
}

.navButton:hover div{
    background-color: #ee4938;
}

.menubar{
  background-color: #fcfcfc;
}

.menubar a{
  color: #3a3a3a;
  font-family: Ubuntu, sans-serif;
}

.menubar div:hover{
  background-color: #d3d3d3;
}

.menubar div:hover a{
  color: #ee4938;
}
#ink-bar{
  transition: 0.3s cubic-bezier(.645,.045,.355,1);
  position: absolute;
  background-color: #EE4938;
  display: none;
}
.sidebar{
  display: flex;
  width: 90vw;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    scroll-behavior: smooth;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.mobile{
  display: flex;
}
.nav-btn{
  flex: 0 0 calc(100vw/3);
  text-align: center;
  height: 50px;
  cursor: pointer;
  transition: 0.4s;
  margin: 10px;
}
.btn{
  flex: 0 0 5px;
  margin-top: 10px;
}
.active{
  color: #EE4938;
}
.active:hover{
  color: #EE4938;
}

.main {
  display: block;
  width: 90vw;
  animation: fadeIn 0.5s linear;
}
.card{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  margin-top: 5%;
  max-width: 300px;
  max-height: 500px;
  background-color: #F1F0FF;
    color: rgba(0,0,0,.65);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 10px 0px;
    border-radius: 20px;
}

.head{
  height: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.head img{
  height: 100%;
  width: 100px;
  display: block;
  margin: auto;
}
.details{
  padding: 15px;
}
.button-holder button{
  height: 30px;
    background-color: rgb(255, 122, 89);
    width: auto;
    color: #fcfcfc;
    margin: 10px;
    margin-left: 0px;
    font-size: 0.6rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 4px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 0px 20px;
}
.button-holder button:hover{
  background-color: rgb(255, 142, 115);
} 
a{
  color: #fcfcfc;
  text-decoration: none;
}

a:hover{
  color: #fcfcfc
}

@media only screen and (min-width: 767px) {
  /*for desktop*/
    .section{
      display: flex;
    }
  .content{
    align-items: left; 
    justify-content: left; 
    text-align: left;
    width: 90%;
  }
  h1{
    font-size: 2em;
  }
  .cover{ 
    display: flex;
  }
  .sidebar{
      display: block;
      overflow: hidden;
    position: relative;
    width: 15vw;
    border-right: 1px solid #d3d3d3;
    padding-top: 20px;
    padding-bottom: 20px; 
  }

  .nav-btn{
    text-align: right;
    width: 90%;
    height: 50px;
    margin: 0px;
  } 

  .nav-btn:hover{
    color: #f08378;
  }
  #ink-bar{
    top: 0px;
    right: -1px;
    height: 50px;
    width: 2px;
    display: block;
  }
  .mobile{
    display: block;
  }
  .btn{
    display: none;
  }
  .active{
  color: #EE4938;
  }
  .active:hover{
    color: #EE4938;
  }
  .main {
    display: flex;
    flex-wrap: wrap;
    width: 75vw;
  }
  .card{
    flex: 1 0 300px;
    margin: 3%;
  }

}
.hide{
  display: none;
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
