<div class="body">
	<br>
	<div class="navButton" #navButton (click)="showMenuBar(navButton)">
		<div></div>
		<div></div>
	</div>
	<div id="menu" class="menubar" style="display: none;">
		<div><a routerLink = "blog">Blog</a></div>
		<div><a>About</a></div>
		<div><a href="https://www.jntuhceh.ac.in" target="_blank">University</a></div>
	</div>
	<div class="section" *ngFor="let sem of sems">
		<h1>{{sem.year}} <span class="part2">{{sem.sem}}</span></h1>
		<div *ngFor="let subject of sem.subs; let i = index" [attr.data-index] = "i">
			<button class="accordion">{{subject}}</button>
			<div class="panel">
				&nbsp;
				<div class="cover" *ngFor="let book of sem.books[i]">
		  			<img src="assets/book-prev/{{book.prev}}.jpg">
					<div class="content" >
						<h4 [innerHTML] = book.desp></h4>
						<a class="btn" href="{{book.link}}" target="_blank"> Buy </a>
						<a class="btn" href="{{book.pdf}}" target="_blank"> Pdf Download!</a>
					</div> 
				</div>
			</div>
		</div>
	</div>
</div>
