.body{
    width: 100%;
    height: 100%;
}
.section{
    font-family: IBM Plex Sans, sans-serif;
    font-weight: 500;
    width: 90%;
    text-transform: uppercase;
    transition: ease 0.1s;
    z-index: 10;
    overflow: hidden;
    text-align: center;
    margin: auto;
}

ul{
    margin: 0px;
    padding: 0px;
}
h3{
    margin-top: 15vh;
    font-size: 2em;
    margin-bottom: 5vh;
}

.part2{
    color: #EE4938;
}

.navButton{
    background-color: #3a3a3a;
}

.navButton div{
    background-color: #fff;
}

.navButton:hover div{
    background-color: #ee4938;
}

.menubar{
    background-color: #fcfcfc;
}

.menubar a{
    color: #000;
    font-family: IBM Plex Sans, sans-serif;
    font-weight: 500;
}

.menubar div:hover{
    background-color: #d3d3d3;
    color: #ee4938;
}

.menubar div:hover a{
    color: #ee4938;
}

a{
    text-decoration: none;
    color: #fcfcfc;
    transition: 0.4s;
}

.head{
    display: block; margin: auto; max-width: 100vw;
}

.author{
    margin-top: 15px;
}

.head-image{
    width: 100%;
    object-fit: cover;
    display: block;
    margin: auto;
}

button{
    width: 30%;
    height: 50px;
    font-size: 0.98em;
    border: 0px; 
    background-color: #3a3a3a;
    border-radius: 5px;
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
    cursor: pointer;
    color: white;
    transition: 0.4s;
    margin-right: 20px; 
}
button:hover a{
    color: #ee4938;
    font-size: 1.3em;

}


.article{
    width: 80vw;
    height: auto;
    display: block;
    margin: auto;
    margin-bottom: 0px;
    padding: 20px;
    font-family: Ubuntu;
    background-color: #f2f2f2;
    text-decoration: none;
    color: black;
    transition: 1s;
    display: block;
    margin: auto;
    cursor: pointer;
}
.article h2{
    margin-bottom: 5px;
}
.article p{
    color: #757575;
    margin-top: 2px;
    font-size: 1em;
}

.vertical-center{
    display: block;
    margin: auto;
}

.article img{
    width: 100%;
    height: 100%;
    max-width: 150px; 
    object-fit: contain;
    display: block;
    margin: auto;
}

.article div{
    display: block;
    padding: 10px;
}

.article div:nth-child(2){
    width: 100%;
}

.article:hover{
    opacity: 0.5;
}

.author{
    color: black;
}

.date{
    position: relative;
    margin-right: 15px; 
}
.date::after{
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    top: 0;
    right: -15px;
    margin: 5px;
    border-radius: 50%;
    background-color: black;
}

.centered{
    font-family: Ubuntu, sans-serif;
    font-weight: 300;
    transition: ease 0.1s;
    width: 90vw;
    z-index: 10;
    overflow: hidden;
    padding-bottom: 15vh;
    margin: auto;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.blog-centered{
    width: 90vw;
}

.center{
    display: block;
    margin: auto;
}

a{
    text-decoration: none;
    color: #fcfcfc;
    transition: 0.4s;
}

p ul{
    padding: 10px;
}
.head{
    display: block; margin: 0 auto; max-width: 100vw;
    margin-top: 50px;
    margin-bottom: 10px;
}

.author{
    margin-top: 15px;
}

.head-image{
    width: 100%;
    object-fit: cover;
    display: block;
    margin: auto;
}

.text{
    font-family: Geneva, sans-serif;
    font-weight: 400;
    line-height: 1.2;
    font-size: 1em;
    color: black;
    margin: 0.75rem;
}

.subtitle {
    font-family: Ubuntu, sans-serif;
    margin-top: -0.375rem;
    font-size: 0.875rem;
    line-height: 16px;
    color: #455a64;
 }

.head h1{
    text-align: center;
}

h3{
    font-family: Ubuntu, sans-serif;
}

button{
    width: 50%;
    height: 50px;
    font-size: 0.98em;
    border: 0px; 
    background-color: #3a3a3a;
    border-radius: 5px;
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
    cursor: pointer;
    color: white;
    transition: 0.4s;
    margin: 0 auto;
    margin-top: 50px;
    margin-right: 20px;
    margin-bottom: 50px;
}

.card{
    font-family: Ubuntu, sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    max-width: 80%;
    margin-top: 5%;
    padding: 50px;
    background-color: #F1F0FF;
    color: rgba(0,0,0,.65);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 10px 0px;
    border-radius: 10px;
}

input,textarea, select{
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    border: 1px solid #3a3a3a;
    width: 90%;
}

select{
    width: 40%;
}

option{
    padding: 10px;
    font-size: 1em;
}

input:hover, textarea:hover{
    border: 1px solid rgb(255, 122, 89);
}


@media only screen and (min-width: 767px) {
  /*for tablet and above*/
    .section{
        width: 70%;
    }

    h3{
        font-size: 4em;
        
    }

    .article{
        display: flex;
        width: 60vw;
    }

    .vertical-center{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }

    .article div:nth-child(2){
        width: 70%;
    }
    ul{
        padding: auto;
    }
    button{
        width: 30%;
    }
}
@media only screen and (min-width: 1023px) {
  /*for desktop*/
  .head{
    max-width: 50vw;
  }
      .centered{
        width: 80vw;
        padding: 0px;
    }
    .blog-centered{
        width: 60vw;
    }
}

