<div class = "body" *ngIf="!isLoading">
	<div class="navButton" #navButton (click)="showMenuBar(navButton)">
		<div></div>
		<div></div>
	</div>
	<div id="menu" class="menubar" style="display: none;">
		<div><a href = "../">Home</a></div>
		<div><a>About</a></div>
		<div><a href="https://www.jntuhceh.ac.in" target="_blank">University</a></div>
	</div>
	<div class="section" *ngIf="!currBlog">
		<h3>Tips and other information <br><span class="part2">from Seniors and Lecturers</span></h3>
	</div>
	<div class="centered" *ngIf="!currBlog">
		<ul>
			<li *ngFor="let blog of blogs">
				<div class="image">
					<span class="helper"></span>
					<a><img src="assets/ppl.jpg"></a>
				</div>
				<div>
					<h2>{{blog.title}}</h2>
					<p [innerHTML]="'<small>written by '+blog.author+'. last edited '+time(blog.time_stamp)+'</small><br>'+truncate(blog.body, 20)"></p>
					<button (click)="setup(blog)"><a>Click to Read</a></button>
				</div>
			</li>
		</ul>
	</div>
	<div class="centered blog-centered" *ngIf="currBlog">
		<div class="head">
			<h2>{{currBlog.title}}</h2>
			<div style="display: flex;">
				<div class="image">
					<span class="helper"></span>
					<img src="assets/user.png" style="height: 50px; width: 50px;">
				</div>
				<div class="author">
					<p class="subtitle text">{{currBlog.author}}</p>
					<p class="subtitle text">last edited {{time(currBlog.time_stamp)}}</p>
				</div>
			</div>
		</div>
		<img *ngIf="!currBlog.img" class="head-image center" src="assets/oracle.jpg" width="700px;" height="400px">
		<img *ngIf="currBlog.img" class="head-image center" [src]="currBlog.img" width="700px;" height="400px">
		<p class="text" [innerHTML]="currBlog.body"></p>
		<p class="text" [innerHTML]="currBlog.footer"></p>
		<button (click)="back()">Back</button>		
	</div>
</div>

<div class="body" *ngIf="isLoading">
	<img src="assets/load.svg" style="height: 90vh; width: 90vw;">
</div>