<div class = "body" *ngIf="!isLoading">
	<div class="navButton" #navButton (click)="showMenuBar(navButton)">
		<div></div>
		<div></div>
	</div>
	<div id="menu" class="menubar" style="display: none;">
		<div><a href = "../">Home</a></div>
		<div><a>About</a></div>
		<div><a href="https://www.jntuhceh.ac.in" target="_blank">University</a></div>
	</div>
	<div class="section">
		<h3>Tips and other information <br><span class="part2">from Seniors and Lecturers</span></h3>
	</div>
	<ul>
		<li class="article" *ngFor="let blog of blogs" (click)="setup(blog._id)">
			<div class="vertical-center">
				<span class="helper"></span>
				<a *ngIf="blog.image"><img src="assets/blog/{{blog.image}}.png"></a>
				<a *ngIf="!blog.image"><img src="assets/ppl.jpg"></a>
			</div>
			<div>
				<h2>{{blog.title}}</h2>
				<p [innerHTML]="truncate(blog.body, 20)"></p>
				<small class="author">{{blog.author}}</small>
				<p><small class="date">{{time(blog.time_stamp)[0]}}</small> <small>{{readTime(blog.body)}} mins read</small></p>
			</div> 
		</li>
	</ul>
</div>

<div class="body" *ngIf="isLoading">
	<img src="assets/load.svg" style="height: 90vh; width: 90vw;">
</div>