/* You can add global styles to this file, and also import other style files */
html{
  scroll-behavior: smooth;
}
body{
	background-color: #1B1B1B;
	color: #fcfcfc;
	-ms-overflow-style: none; 
	scrollbar-width: none;
	padding-left: 1.5vh;
	cursor: context-menu;
}
body::-webkit-scrollbar {
	display: none;
}
@font-face {
	font-family: Blackout-2am;
	src: url('assets/fonts/Blackout-2am.ttf');
}

@font-face {
	font-family: Blackout-Midnight;
	src: url('assets/fonts/Blackout-Midnight.ttf');
}
@font-face {
	font-family: Ubuntu;
	src: url('assets/fonts/Ubuntu-Medium.ttf');
}
.navTop:active{
    outline: 0;
}
.navTop:focus{
    outline: 0;
}

.navTop{
    position: fixed;
    display: none;
    background-color: #FEAC1A;
    color: white;
    border: none;
    bottom: 20px;
    right: 30px;
    width: 60px;
    height: 60px;
    z-index: 99;
    padding-top: 5px;
    border-radius: 50%;
    font-size: 18px;
    animation: bounce 3s infinite;
}

.arrow {
  border: solid #fff;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 5px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}