/* You can add global styles to this file, and also import other style files */
html{
  scroll-behavior: smooth;
}
body{
	background-color: #1B1B1B;
	color: #fcfcfc;
	-ms-overflow-style: none; 
	scrollbar-width: none;
	padding-left: 1.5vh;
	cursor: context-menu;
}
body::-webkit-scrollbar {
	display: none;
}
@font-face {
	font-family: Blackout-2am;
	src: url('assets/fonts/Blackout-2am.ttf');
}

@font-face {
	font-family: Blackout-Midnight;
	src: url('assets/fonts/Blackout-Midnight.ttf');
}
@font-face {
	font-family: Ubuntu;
	src: url('assets/fonts/Ubuntu-Medium.ttf');
}
@font-face {
  font-family: Bonus;
  src: url('assets/fonts/Bonus.ttf');
}
@font-face {
  font-family: IBM-Med;
  src: url('assets/fonts/IBMPlexSans-Light.ttf');
}
@font-face {
  font-family: IBM-L8;
  src: url('assets/fonts/IBMPlexSans-Medium.ttf');
}
.navTop:active{
    outline: 0;
}
.navTop:focus{
    outline: 0;
}

.navTop{
    position: fixed;
    display: none;
    background-color: #FEAC1A;
    color: white;
    border: none;
    bottom: 20px;
    right: 30px;
    width: 60px;
    height: 60px;
    z-index: 99;
    padding-top: 5px;
    border-radius: 50%;
    font-size: 18px;
    animation: bounce-nav 3s infinite;
}
.navButton{
	cursor: pointer;
	position: fixed;
	top: 50px;
	right: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	background-color: #f7f7f7;
	transition: 0.2s;
}
.navButton div{
    position: relative;
    z-index: 5;
    width: 20px;
    height: 2px;
    margin: auto;
    background-color: #111;
    transition: 0.4s;
}
.navButton div:nth-child(1){
  top: 15px;
}
.navButton div:nth-child(2){
  top: 20px;
}
.navButton:hover{
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.navButton:hover div:nth-child(1){
  -webkit-transform: rotate(-45deg) translate(-2px, 2px);
  transform: rotate(-45deg) translate(-2px, 2px);
}
.navButton:hover div:nth-child(2){
  -webkit-transform: rotate(45deg) translate(-4px, -4px);
  transform: rotate(45deg) translate(-4px, -4px);
}
.menubar{
  font-family: Blackout-Midnight, sans-serif;
  position: fixed;
  z-index: 1000;
  background-color: #1b1b1b;
  top: 95px;
  right: 10px;
  width: 100px;
  transition: 0.2s;
  text-align: center;
  cursor: pointer;
}
.menubar div{
  padding: 12px 0 12px 0;
  transition: 0.7s;
  animation: bounce 0.4s linear forwards;
  opacity: 0;

}
.menubar div:nth-child(2){
  animation-delay: 0.2s;
}
.menubar div:nth-child(3){
  animation-delay: 0.4s;
}
.menubar div:nth-child(4){
  animation-delay: 0.6s;
}
.menubar div:hover{
  background-color: #fcfcfc;
}

.menubar div a{
  text-decoration: none;
  color: white;
  transition: 0.4s;
}
.menubar div:hover a{
  font-size: 1em;
  color: #1b1b1b;
}
.arrow {
  border: solid #fff;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 5px;
}
.rotate{
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}
.rotate:hover{
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}
.rotate div:nth-child(1){
	-webkit-transform: rotate(-45deg) translate(-2px, 2px);
	transform: rotate(-45deg) translate(-2px, 2px);
}
.rotate div:nth-child(2){
	-webkit-transform: rotate(45deg) translate(-4px, -4px);
	transform: rotate(45deg) translate(-4px, -4px);
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
@keyframes bounce-nav {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}

@keyframes down{
  0%{
    top: -5px;
    left: -5px;
  }
  25%{
    top: 0px;
    left: 0px;
  }
  50%, 100%{
    top: 5px;
    left: 5px;
  }
}

@keyframes fade{
  0%{
    opacity: 0;
  }
  25%{
    opacity: 1;
  }
  50%, 100%{
    opacity: 0;
  }
}

@keyframes bounce{
  0%{
    transform: translate(0, 10px);
    font-size: 0em;
  }
  50%, 100%{
    font-size: 1em;
    opacity: 1;
  }
  75%{
    transform: translate(0, 20px);
    font-size: 1.2em;
    opacity: 1;
  }
}

@keyframes popup{
  0%{
    font-size: 0em;
  }
  50%, 100%{
    font-size: 1em;
  }
  75%{
    font-size: 1.2em;
    opacity: 1;
  }
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(10);
  }
}

@media only screen and (min-width: 767px) {
  /*for desktop*/
 .navButton{
    right: 81px;
    height: 58px;
    width: 58px;
  }
  .navButton div:nth-child(1){
    top: 24px;
  }
  .navButton div:nth-child(2){
    top: 30px;
  }
  .menubar{
    top: 130px;
    width: 200px;
  }
  .menubar div:hover a{
    font-size: 1.5em;
  }
}