<div class="body">
	<button id="scrollTop" class="navTop" (click)="scrollTop()"><i class="arrow up"></i></button>

	<div class="section" id="header">
		<div id="company-head">
			<h2>Bits <br><span class="part2">& Bytes</span></h2>
		</div>
		<div class="navButton" #navButton (click)="showMenuBar(navButton)">
			<div></div>
			<div></div>
		</div>
		<div id="menu" class="menubar" style="display: none;">
			<div><a routerLink = "blog">Blog</a></div>
			<div><a>About</a></div>
			<div><a href="https://www.jntuhceh.ac.in" target="_blank">University</a></div>
		</div>
		<div class="scrolldown">
			<span>SCROLL</span>
			<span></span>
			<span></span>
		</div>
	</div>

	<div class="section" id="curriculum" >
		<h3 class="section-head head">Univ. <span class="part2">Curriculum</span></h3>
		<div class="image"><img src="assets/education.jpg" /></div>
		<a routerLink = "curriculum"><div class="sectionButton" style="background-color: #015289; color:#fff;" (click)="sectionButtonClick($event);">Click Here!</div></a>
	</div>

	<div class="section" id="ds-viz">
		<h3 class="section-head head">DS <span class="part2">Visualisations</span></h3>
		<div class="image"><img src="assets/datastruct.jpg"/></div>
		<a routerLink = "ds-visuals"><div class="sectionButton" style="background-color: #249CB7; color:#fff;" (click)="sectionButtonClick($event);">Click Here!</div></a>
	</div>

	<div class="section" id="interview">
		<h3 class="section-head head">Interview <span class="part2">Prep</span></h3>
		<div class="image"><img src='assets/interview.jpg'/></div>
		<a routerLink = "interview"><div class="sectionButton" style="background-color: #222A58; color:#fff;" (click)="sectionButtonClick($event);">Click Here!</div></a>
	</div>

	<div class="section" id="gate">
		<h3 class="section-head head">GATE <span class="part2">Preperation</span></h3>
		<div class="image"><img src='assets/gate.jpg'/></div>
		<a routerLink = "gate"><div class="sectionButton" style="background-color: #FFB423; color:#fff;" (click)="sectionButtonClick($event);">Click Here!</div></a>
	</div>
</div>